@model CustomerListViewModel
@{
    Layout = null;
}       

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <table class="table table-bordered">
        @foreach (var cst in Model.Customers)
	{
        <tr>
            <td>@cst.ID</td>
            <td>@cst.FirstName</td>
            <td>@cst.LastName</td>
            <td>@cst.City</td>
        </tr>
	}
        
    </table>
</body>
</html>
